<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health report</title>
    <link rel="stylesheet" href="after.css">
</head>
     <header>
        <div class="left">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbXCpiYKfm11YUjU715AE4xto0XO6fzBiL8Q&usqp=CAU"
                alt="">
            <div>
                report
            </div>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Report</a></li>
                <li><a href="#">Health </a></li>
            </ul>
        </div>
        <div class="right">
            <button class="btn"> Contact Us</button>
            <button class="btn">Email Us</button>
        </div>
    </header>

    <h1>  PREDICTION :  </h1>

    {% if data[0] == 0 %}
        <h1>you are not having any heart disease</h1>  
        <img src='V:\irs flower detection\src\healty_heart.jpeg'>
    {% else %}
        <h1>you are having a heart disease</h1>
        <img src='src\Weak_heart.jpeg'>
    {% endif %}
        <br><br>
    <a href='/'>go back to home page</a>
    
<body>
    
</body>
</html>