<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health report</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="left">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbXCpiYKfm11YUjU715AE4xto0XO6fzBiL8Q&usqp=CAU"
                alt="">
            <div>
                report
            </div>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Report</a></li>
                <li><a href="#">Health </a></li>
            </ul>
        </div>
        <div class="right">
            <button class="btn"> Contact Us</button>
            <button class="btn">Email Us</button>
        </div>
    </header>
    <br>
    <br>
    <div class="container">
        <h1>Fill the Medical details</h1>
        <br>
        <form method="POST" action="{{url_for('predict')}}">



                <div class="formtext">
                   <input type="text" id="1" name="a" , placeholder="Enter your age">
                </div>
                <div class="formtext">
                   <input type="text" id="2"name="b" , placeholder="Enter your sex">
                </div>
                <div class="formtext">
                   <input type="text" id="3" name="c" , placeholder="Enter your chest_pain_type value">
                <div class="formtext">
                   <input type="text" id="4" name="d" , placeholder="Enter your BP value ">
                </div>
                <div class="formtext">
                   <input type="text" id="5" name="e" , placeholder="Enter your cholesterol value">
                <div class="formtext">
                   <input type="text" id="6"name="f" , placeholder="Enter your FBS_OVER_120 value">
                </div>
                <div class="formtext">
                   <input type="text" id="7" name="g" , placeholder="Enter yourEKG_results value ">
                </div>
                <div class="formtext">
                   <input type="text" id="8" name="h" , placeholder="Enter your MAX HR value ">
                </div>
                <div class="formtext">
                   <input type="text" id="9" name="i" , placeholder="Enter your Exercise_angina value ">
                </div>
                <div class="formtext">
                    <input type="text" id="10"name="j" , placeholder="Enter your ST_depression value ">
                </div>
                <div class="formtext">
                    <input type="text" id="11" name="k" , placeholder="Enter your Slope_of_ST value ">
                </div>
                <div class="formtext">
                    <input type="text" id="12" name="l" , placeholder="Enter your Number_of_vessels_fluro value ">
                </div>
                <div class="formtext">
                    <input type="text" id="13" name="m" , placeholder="Enter your Thallium value ">
                </div>
            <br>
            <input type="Submit" , value='predict'>
            
        </form>
    </div>
</body>

</html>